* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mingzat", sans-serif;
  color: rgb(48, 46, 46);
}

header h4 {
  position: absolute;
  margin: 1.375rem 2.75rem;
}

img {
  max-width: 35rem;
  min-width: 25rem;
  object-fit: cover;
}

.box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35rem;
  height: 38rem;
  margin: 0 4rem;
  line-height: 1.5;
}

.mini-box h1 {
  font-size: 4rem;
  word-spacing: 3px;
}

.mini-box p {
  font-size: 1.5rem;
  word-spacing: 20px;
  letter-spacing: 2px;
}

.mini-box a {
  text-align: center;
  width: 16rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 22px;
  background-color: rgb(48, 46, 46);
  color: white;
}
.mini-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35rem;
  height: 38rem;
  margin: 0 4rem;
  line-height: 1.5;
}

.mini-box h1 {
  font-size: 4rem;
  word-spacing: 3px;
}

.mini-box p {
  font-size: 1.5rem;
  word-spacing: 20px;
  letter-spacing: 2px;
}

.mini-box a {
  text-align: center;
  width: 16rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 22px;
  background-color: rgb(48, 46, 46);
  color: white;
}

@media screen and (max-width: 1115px) {
  header h4 {
    margin: 0.5rem 1rem;
  }
  img {
    max-width: 20rem;
    min-width: 15rem;
    margin-top: 6rem;
    object-fit: cover;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .mini-box {
    width: 75%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
  }
  .mini-box h1 {
    font-size: 2rem;
    margin-bottom: -8%;
  }
  .mini-box p {
    font-size: 1.25rem;
    margin-top: 5%;
  }
  .mini-box a {
    font-size: 0.9rem;
    margin-bottom: 3px;
  }
}
